@inherits UmbracoViewPage<Clean.Web.ViewModels.PageHeaderViewModel>

@{
    string mainImageUrl = Model.HasBackgroundImage ? Model.BackgroundImage.Url : "/img/home-bg.jpg";
}

<header class="masthead" style="background-image: url('@mainImageUrl')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@(!string.IsNullOrWhiteSpace(Model.Title) ? Model.Title : Model.Name)</h1>
                    @if (Model.HasSubtitle)
                    {
                        <span class="subheading">@(Model.Subtitle)</span>
                    }
                </div>
            </div>
        </div>
    </div>
</header>
